<% include ../partials/header %>

<h1>Friends List</h1>

<h3>Your Friends:</h3>
<% user.friends.forEach(function(friend) { %>

<% if(friend.requestAccepted) { %>
  <div class="row post">
        
        <div class="col-md-7">
             <h3><a href="/friends/<%= friend.id %>"><%= friend.username %></a></h3>
        </div>
  </div>
  <% } %>
<%  })%>

<h3>Pending Requests:</h3>
<% user.friends.forEach(function(friend) { %>

<% if(!friend.requestAccepted) { %>
  <div class="row post">
        
        <div class="col-md-7">
             <h3><a href="/friends/<%= friend.id %>"><%= friend.username %></a></h3>
             <% if(friend.receiver) { %>
              <form action="/friends/<%= friend.id%>?_method=PUT" method="POST">
                <button class="btn btn-success" type="submit">Accept</button>
              </form>
              <form action="/friends/<%= friend.id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Decline</button>
              </form>
            <% } %>
        </div>
  </div>
  <% } %>
<%  })%>

<% include ../partials/footer %>