<% include ../partials/header %>

<div class="jumbotron">
  <img src="<%=friend.avatar%>" alt="profile pic">
  <p>username: <%= friend.username %></p>
  <p>email: <%= friend.email %></p>
  <p>Name: <%= friend.firstName%> <%= friend.lastName%></p>
  <p>City: <%= friend.city %></p>
  <p>State: <%= friend.state %></p>

  <a href="/friends/<%=friend._id%>/collection" class="btn btn-info"><%=friend.username%>'s Collection</a>
</div>

<% include ../partials/footer %>