<% include ../partials/header %>

  <img src="<%=friend.avatar%>" alt="profile pic">
  <p>username: <%= friend.username %></p>
  <p>email: <%= friend.email %></p>
  <p>Name: <%= friend.firstName%> <%= friend.lastName%></p>
  <p>City: <%= friend.city %></p>
  <p>State: <%= friend.state %></p>

<% include ../partials/footer %>