<% include ../partials/header %>

<div class="page-header">
    <h1>My Movie Collection</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped table-bordered table-condensed text-center">
          <thead>
            <th class="text-center">Poster</th>
            <th class="text-center">Title</th>
            <th class="text-center">Year</th>
          </thead>
          <tbody>
            <% movies.forEach(function(movie) { %>
               <tr>
                <td class="col-md-4 text-center vert-align"><img src="<%=movie.poster %>" alt="movie poster"></td>
                 <td class="col-md-4 vert-align"><h4><a href="movies/<%= movie._id %>"><%= movie.title %></a></h4></td>
                 <td class="col-md-4 vert-align"><h4><%= movie.year %></h4></td>
                 <% if(movie.owner.toString() == user_id ) { %>
                    <td class="vert-align"><a href="/movies/<%= movie._id%>/edit" class="btn btn-warning">Edit</a></td>
                  <td class="vert-align">
                    <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                  </td>
                  <% } %>
                 <!-- <td><form action="/countries/<%=movie.id%>?_method=delete" method="POST"><button type="submit" class="btn btn-default btn-sm">Delete</button></form></td> -->
               </tr>
             <% }) %>
          </tbody>
      </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <form action="/movies/new">
          <label for="movieSearch">Find Movie to Add: </label>
          <input type="text" id="movieSearch" name="movieSearch" placeholder="Search movie title">
          <button class="btn btn-success btn-lg" type="submit"> Search</button>
        </form>
      </div>
      <!-- <div class="col-md-5 col-md-offset-2">
      <form action="/sort?_method=put" method="POST">
        <button type="submit" class="btn btn-primary btn-lg pull-right">Alphabetically Sort Zoo</button>
      </form>
      </div> -->
    </div>
    </div>

<% include ../partials/footer %>