<% include ../partials/header %>
<div class="page-header">
    <h1>Movie Search Results</h1>
</div>
<div class="container-fluid">
  <div class="row">
  <%if (!movies.length) { %>
    <h2>No Movies Matched Your Search</h2>
  <% } else { %>
  <% movies.forEach(function(movie){ %>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="thumbnail" height="412px">
          <a href="/movies/<%= movie.title %>"><img src="https://image.tmdb.org/t/p/original<%=movie.poster_path %>" alt="poster" width="214px" height="317px"></a>
          <div class="caption">
            <h5 class="text-center"><%= movie.title %> (<%= movie.release_date.substr(0,4) %>)</h5>
           <!-- <div class="row"> -->
           <!-- <div class="col-md-10 col-md-offset-1"> -->
            <form action="/movies" method="POST">
              <input type="hidden"  name="title" value="<%= movie.title %>">
              <input type="hidden" name="id" value="<%= movie.id%>">
              <button class="btn btn-success" type="submit" role="button">Add to Collection</button>
            </form>
            <!-- <form action="/movies/<%=movie.id%>?_method=delete" method="POST"><button type="submit" class="btn btn-danger pull-right">Delete</button></form> -->
           <!-- </div> -->
           <!-- </div> -->
          </div>
          
        </div>
      </div>
      <% }) %>
      <% } %>
    </div>
<% include ../partials/footer %>