<% include ../partials/header %>

<div class="container-fluid">
  <div class="page-header">
      <h1>Movie Search Results</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
  <%if (!movies.length) { %>
    <h2>No Movies Matched Your Search</h2>
  <% } else { %>
  <% movies.forEach(function(movie){ %>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="thumbnail searchThumb">
          <%if(movie.poster_path) { %>
          <img src="https://image.tmdb.org/t/p/original<%=movie.poster_path %>" alt="poster" class="img-responsive searchPoster" >
          <% } else { %>
          <img src="/pics/missing-poster.jpg" alt="no poster image" class="img-responsive searchPoster">
          <% } %>
          <div class="caption">
            <% if(!movie.release_date) { %>
              <h5 class="text-center"><%= movie.title %></h5>
            <% } else { %>
            <h5 class="text-center"><%= movie.title %> (<%= movie.release_date.substr(0,4) %>)</h5>
            <% } %>
           <!-- <div class="row"> -->
           <!-- <div class="col-md-10 col-md-offset-1"> -->

            <form action="/movies" method="POST">
              <input type="hidden"  name="title" value="<%= movie.title %>">
              <input type="hidden" name="id" value="<%= movie.id%>">
              <button class="btn btn-success" type="submit" role="button"><span class="glyphicon glyphicon-plus"></span> Add to Collection</button>
            </form>
            <!-- <form action="/movies/<%=movie.id%>?_method=delete" method="POST"><button type="submit" class="btn btn-danger pull-right">Delete</button></form> -->
           <!-- </div> -->
           <!-- </div> -->
          </div>
          
        </div>
      </div>
      <% }) %>
      <% } %>
    </div>
    <div class="row">
      <form action="/movies">
        <button class="btn btn-danger btn-lg center-block">Cancel</button>
      </form>
      <br>
    </div>
    </div>

<% include ../partials/footer %>