<% include ../partials/header %>

<div class="container-fluid">
  <div class="page-header">
      <h1><%= movie.title %></h1>
  </div>
</div>

<!-- Carousel -->
<% if(movie.backgroundImages.length > 0)%>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <% for(var i = 1; i < movie.backgroundImages.length; i++) { %>
      <li data-target="#myCarousel" data-slide-to="<%= i %>"></li>
    <% } %>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://image.tmdb.org/t/p/original<%= movie.backgroundImages[0].file_path %>" alt="">
    </div>
    <% for(var i = 1; i < movie.backgroundImages.length; i++) { %>
      <div class="item">
        <img src="https://image.tmdb.org/t/p/original<%= movie.backgroundImages[i].file_path %>" alt="">
      </div>
    <% } %>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<br>
<div class="jumbotron">
  <div class="container">
    <img id="showPoster" src="<%=movie.poster%>" alt="profile pic" class="img-responsive pull-right">
    <p><strong>Title</strong>: <%= movie.title %></p>
    <p><strong>Director</strong>: <%= movie.director %></p>
    <p><strong>Year</strong>: <%= movie.year %></p>
    <p><strong>Actors</strong>: <%= movie.actors %></p>
    <p><strong>Plot</strong>: <%= movie.plot %></p>
    <p><strong>Format</strong>: <%= movie.format.bluRay %> <%= movie.format.dvd %> <%= movie.format.vhs %> <%= movie.format.other %></p> <!-- if true, then list-->
    <!-- <p><strong>Watched</strong>: <%= movie.watched %></p> -->
    <% if(movie.notes) { %>
    <p><strong>Notes</strong>: <%= movie.notes %></p>
    <% } %>
    <p><strong>Date Added to Collection</strong>: <%= movie.dateAdded %></p>
    <% if(movie.userRating) { %>
    <p><strong>Owner's Rating</strong>: <%= movie.userRating %></p>
    <% } %>
    <% if(movie.rented === "true") { %>
    <h3><span class="label label-danger">Rented</span></h3>
    <% } else { %>
    <h3><span class="label label-success">Available</span></h3>
    <% } %>
    <br>
    <% if(user_id == movie.owner.toString()) { %>
      <a href="/movies/<%= movie._id%>/edit" class="btn btn-warning">Edit</a>
    <% } %>
    <a href="http://www.canistream.it/search/movie/<%=title%>" class="btn btn-info">Check Streaming Status</a>
  </div>
</div>

<% include ../partials/footer %>