<% include ../partials/header %>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-5 col-md-offset-1"> -->
        <img src="<%=profile.avatar%>" alt="profile pic">
          <p>username: <%= profile.username %></p>
          <p>email: <%= profile.email %></p>
          <p>Name: <%= profile.firstName%> <%= profile.lastName%></p>
          <p>City: <%= profile.city %></p>
          <p>State: <%= profile.state %></p>

        <a href="/users/<%=user_id%>/edit" class="btn btn-warning">Edit Profile</a>
      <!-- </div> -->
    </div>
  </div>
</div>

<% include ../partials/footer %>